$black: #1B1F2B;
$white: #ffffff;
$orange100: #F8E6BE;
$orange200: #EFA501;
$beige100: #F9F7F4;
$beige200: #F4F0E9;
$green100: #E0F0E5;
$green200: #627F7E;
$green300: #3B7E7B;
$green400: #286562;
$gray100: #F1F3F2;
$gray200: #D9DFDB;
$gray300: #A6A6A6;