@use "../helpers" as helpers;

.hero {
	color: helpers.$white;
	height: 100dvh;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), url("../../static/images/hero_background.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	&::after {
		content: "";
	}

	// background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
	// linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%);

	.container {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-shrink: 1;
		gap: 40px;
		height: 100%;
		padding-top: 88px;
	}
}