@use "../helpers" as helpers;

.tabs {
	.heading h2 {
		margin-bottom: 30px;

		@include helpers.breakpoint(md) {
			margin-bottom: 35px;
		}
	}

	&__menu {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 10px;

		@include helpers.breakpoint(md) {
			flex-wrap: nowrap;
			gap: 30px;
		}

		.link {
			padding-bottom: 5px;

			&.active {
				color: helpers.$orange200;
				background-position: 0;
				background-size: 100% 100%;
			}
		}
	}

	&__content {
		position: relative;
		transition: height .1s linear;

		&__item {
			display: flex;
			flex-wrap: wrap;
			gap: 18px;
			justify-content: center;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			opacity: 0;
			transform: translateY(40px);
			pointer-events: none;
			visibility: hidden;
			transition:
				opacity 0.2s ease,
				transform 0.4s ease,
				visibility 0.4s ease;

			&.active {
				opacity: 1;
				pointer-events: auto;
				visibility: visible;
				transform: translateY(0);
			}

			@include helpers.breakpoint(md) {
				grid-template-columns: repeat(2, 1fr);
				grid-auto-rows: minmax(531px, auto);
			}

			@include helpers.breakpoint(lg) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}