*,
*::before,
*::after {
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
dl,
dd,
button,
input,
optgroup,
select,
textarea {
	margin: 0;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
}

input,
textarea,
select {
	font: inherit;
}